<footer class="post-footer" style="background-color: #f3f4f6; max-width: 90%; margin-left: auto; margin-right: auto; " class="prose lg:prose-xl my-4 mx-auto">
    <div class="post-copyright"  style="padding: 10px; ">
        <ul>
            <li class="post-copyright-author">
                <strong>本文作者： </strong> {{ author }}
            </li>
            <li class="post-copyright-link">
                <strong>本文链接：</strong>
                <a href="" title="{{ title }} | {{ site.name }}">{{ title }} | {{ site.name }}</a>
            </li>
            <li class="post-copyright-license">
                <strong> 版权声明： </strong>本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/zh-CN" rel="noopener" target="_blank" data-pjax-state=""><i class="fa fa-fw fa-creative-commons"></i>BY-NC-SA</a> 许可协议。转载请注明出处！
            </li>
        </ul>
    </div>

    <hr />

    <div class="followme" style="padding: 10px; ">
        <span>欢迎关注我的其它发布渠道</span>

        <p><a href="https://www.clckblog.space/">@CLCK的主页</a></p>

        <div class="social-list" style="align-items: center; ">

            <div class="social-item" style="">
                <a target="_blank" class="social-link" href="https://twitter.com/CLCK0622" data-pjax-state="">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>

                    <span class="label"> Twitter</span>
                </a>
            </div>

<!--            <div class="social-item" style="">-->
<!--                <a target="_blank" class="social-link" href="https://t.me/aeilot_post" data-pjax-state="">-->
<!--          <span class="icon">-->
<!--            <i class="fab fa-telegram"></i>-->
<!--          </span>-->

<!--                    <span class="label">Telegram</span>-->
<!--                </a>-->
<!--            </div>-->

            <div class="social-item" style="">
                <a target="_blank" class="social-link" href="/feed.xml" data-pjax-state="">
          <span class="icon">
            <i class="fa fa-rss"></i>
          </span>

                    <span class="label">RSS</span>
                </a>
            </div>
        </div>
    </div>
</footer>